In [ ]:
# Bismillah

In [ ]:
import pandas as pd

In [ ]:
sp500 = pd.read_csv('sp500.csv')

In [ ]:
sp500
# Explain briefly as many terms as possible.
# 500 rows and 15 columns.

In [ ]:
sp500.shape

In [ ]:
sp500 = pd.read_csv('sp500.csv', index_col = 'Symbol', usecols = [0, 2, 3, 7])

In [ ]:
sp500.head(3)

In [ ]:
sp500.index

# Selecting columns and rows of a DataFrame
    * Selecting column rquires [] operator.
    * Secting row requires iloc, loc or slicing with [] operator.

In [ ]:
sp500['Price']
# sp500[column or columns]. No argument for the row or rows except in loc, iloc, or slicing.

In [ ]:
sp500[['Price', 'Sector']]

In [ ]:
sp500['ABT':'ACE']
# ACE inclusive.
# Example of [] with slicing for rows. Also, due to (:), no inner [] needed for clarification.
# This kind of slicing only permitted for rows.

In [ ]:
# iloc: Note that we have labels for all rows and columns but still we can access them using integers in iloc.

In [ ]:
sp500[:3]
# again slicing for rows with [].

In [ ]:
sp500.iloc[0]
# iloc[row or rows, column or columns]. 0 taken as an argument for row. Column argument is optional.
# Also, iloc stands for integer location and accepts only integers as index positions.

In [ ]:
sp500.iloc[0, 1]

In [ ]:
sp500.iloc[[0 , 1]]

In [ ]:
sp500.iloc[[0, 1], 1]

In [ ]:
sp500.iloc[0, [1, 2]]

In [ ]:
sp500.iloc[[0, 1], [1, 0]]

In [ ]:
i = sp500.index.get_loc('ABT')
i
# get location or index of row labeled 'ABT'
# useful when the integer index of a row is unknown. It can be then extracted with the help of the row label.

In [ ]:
sp500.iloc[i]
# i evaluates to 1.

In [ ]:
# loc: labels are used in loc to extract rows and columns.

In [ ]:
sp500.head(4)

In [ ]:
sp500.loc['ABT']

In [ ]:
sp500.loc['ABT', 'Price']
# after comma, the argument is for column.

In [ ]:
sp500.loc[['ABT', 'ACN'], 'Price']

In [ ]:
sp500.loc[['ABT', 'ACN'], ['Price', 'Book Value']]

In [ ]:
# Other methods (.ix and .at) also exists, but we will use .loc and .iloc.

In [ ]:
# Boolean Selection (based on condition):

In [ ]:
sp500['Price'] < 100
# returns a series of true and false.

In [ ]:
sp500[sp500['Price'] < 100]
# outputs those rows in dataframe where the value is True.

In [ ]:
sp500[sp500['Price'] < 100][['Price', 'Book Value']]

# Arithmatic Operations on DataFrame

In [ ]:
df = pd.DataFrame([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [2, 4, 6, 8]], columns = ['A', 'B', 'C', 'D'])
df

In [ ]:
df*2
# multiplies 2 with every element in the dataframe.

In [ ]:
df.iloc[0]

In [ ]:
df - df.iloc[0]
# subtract the zeroth row from every row in the dataframe.

In [ ]:
df

In [ ]:
subframe = df.iloc[0:2][['C', 'D']]
subframe

In [ ]:
df - subframe
# Alligns on both column and index(row) labels. 
# All non-alligning values are converted to NaN, missing values.

In [ ]:
df

In [ ]:
a_col = df['A']
a_col

In [ ]:
df.sub(a_col, axis = 0)
# .sub makes subtraction.
# axis = 0 is for column. Column A will be subtracted from every column.

In [ ]:
df.sub(a_col, axis = 1)
# axis =1 says to subtract a_col (which contains column A) from row. Since a_col is a column (A) it can be subtracted
# only from columns and not from rows.

# Indexing a series

In [ ]:
s = pd.Series([10, 20, 30, 40, 50])
s

In [ ]:
s.index = ['a', 'b', 'c', 'd', 'e']
s

In [ ]:
s1 = pd.Series([0, 1, 2], index = [0, 1, 2])
s2 = pd.Series([3, 4, 5], index = ['0', '1', '2'])

In [ ]:
s1
# the indices are integers.

In [ ]:
s2
# the indices are strings.

In [ ]:
s1 + s2
# the indices from both the seires cannot be matched, so the values in both the series cannot be added.
# Since Pandas cannot find the matching indices, so it copies the indices from the first series and tries to append the 
# indices from the second series. But since they are different types, it defaults back to a zero-based integer sequence,
# which results in duplicate values of indices. And finally, all the values are NaN because the operation tries to add
# the item in the first series with the integer label 0, which has the value 0 but can't find the item in the other series
# with the integer label 0, therefore, the result is NaN.
# Two Steps Procedure: First, matching and addressing the indices. Second, doing the addition.
# Once the problem has been identified, it can be easily fixed as in the following:

In [ ]:
s2.index = s2.index.values.astype(int)
s2.index

In [ ]:
s1 + s2

In [ ]:
s

In [ ]:
s2 = s.copy()
s2

In [ ]:
s2.reindex(['a', 'f'], fill_value = 0)
# what is the need for writing 'a', when we want to put 0 only for index f?
# This is meant to fill in 0 instead of NaN.

In [ ]:
s2

In [ ]:
s1 = pd.Series(['red', 'green', 'blue'], index = [0, 3, 5])
s1

In [ ]:
s1.reindex([0, 1, 2, 3, 4, 5, 6], method = 'ffill')
# forward filling for the given indices.
# the series, s1, when printed has not changed though yet. Why? See below.

In [ ]:
s1

In [ ]:
s1.reindex([0, 1, 2, 3, 4, 5, 6], method = 'bfill')
# backward filling for the given indices.
# the series, s1, when printed has not changed though yet. Why?